.Heading {
    display: flex;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    /* color:rgb(39, 180, 88) */
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 30px;
    font-size:6vh;
    font-family: 'Poppins', sans-serif;
  }

  .Heading:hover {
    transform: scale(1.02);
    /* color: #0015ff; Change the color on hover */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); /* Adjust the shadow on hover */
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .Paragraph {
    display: flexbox;
    background-image: linear-gradient(to left, #148ccd, #1cd537);
    border-radius: 10px;
    padding: 15px;
    box-shadow:2px 4px 10px #148ccd;
    /* margin-right: 150px;
    margin-left: 10px; */
    font-family:'Poppins', sans-serif;
    font-weight: 100;
    font-size: 4vh;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    /* background-clip: text;
    -webkit-background-clip: text; */
    
  }

  .Paragraph:hover {
    transform: scale(1.02);
    /* color: #0015ff; Change the color on hover */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); /* Adjust the shadow on hover */
    background-image: linear-gradient(to left, #f3f565, #eb3c91);
    
    /* background-clip: text;
    -webkit-background-clip: text; */
  }
